<ul>
    <% @landmarks.each do |landmark| %>
    <li><button class="showlandmark" data-id="<%=landmark.id%>">See Landmark <%=landmark.name%></button></li>
    <% end %>
</ul>

<br>

<div id="landmarkHere">
    
</div>

<%= link_to "Create New Landmark", new_landmark_path %>
<br>
<br>

<script id="lm-template" type="text/x-handlebars-template">
  <article>
    <header><h3>Landmark Name: {{name}}</h3></header>
    <p>Landmark history: {{history}}</p>
  </article>
</script>
