<h1> Welcome to User Maps, where User Make Maps and Maps Have Routes and So On</h1>

<% #binding.pry %>

<button id="mapsButton">Maps</button>
<button id="landmarksButton">Landmarks</button>

<br><br><br>
<div id="maps"></div>

<div id="landmarks"</div>
 
 <br><br><br>
 
 
<!-- eventually move the below to partial? -->
<% if current_user %>
 <p>Signed in as <%=@user.email %> </p>
<% end %>
